.page2 {
    &__screen {
        position: relative;
    }
    &__button {
        width: 3.9%;
        height: 0.65vw;
        border: 1px solid red;
        position: absolute;
        top: 0;
        margin-top: 13.25%;
        left: 0;
        margin-left: 48.2%;
        
        &:hover {
            cursor: pointer;
        }
    }

}