.page2 {
  &__screen {
    position: relative;
  }
  &__button {
    width: 5.75%;
    height: 1.1vw;
    position: absolute;
    top: 0;
    margin-top: 17.15%;
    left: 0;
    margin-left: 47.3%;

    &:hover {
      cursor: pointer;
    }
  }
}
