.page3 {
  &__screen {
    position: relative;
  }
  &__button {
    width: 19.8%;
    height: 2.6vw;
    // border: 1px solid red;
    position: absolute;
    top: 0;
    margin-top: 40.3%;
    left: 0;
    margin-left: 40.1%;

    &:hover {
      cursor: pointer;
    }
  }
}
