.card {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;

  &__images {
    padding-top: 2px;
  }
  &__shoe-page {
    width: 350px;
    position: relative;
  }
  &__leaf {
    width: 25px;
    position: absolute;
    top: 394px;
    left: 49%;
  }
  &__info {
    width: 25px;
    position: absolute;
    top: 394px;
    left: 51%;
    &:hover {
      cursor: pointer;
    }
  }
  &__link {
    width: 300px;
    height: 55px;
    // border: solid 1px blue;
    position: absolute;
    left: 40.7%;
    top: 445px;
  }
}
