.modal {
    width: 60%;
    text-align: left;
    border: 1px solid rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    max-width: 800px;
    background-color: #f5f5f5;
    border-radius: 4px;

    &__container {
        margin: 0 40px 40px 40px;

        &-title {
            display: flex;
            justify-content: center;
            margin-top: 25px;
        }

        &-heading {
            margin: 0;
            padding-right: 10px;
            font-size: 2.5rem;
        }
        &-leaf {
            width: 7%;
        }
        &-text {
            font-size: 1.2rem;
        }
    }
    &__close {
        position: absolute;
        top: 1%;
        right: 3%;

        margin: 15px 0 0 15px;
        
        &:hover {
            cursor: pointer;
        }
    }

}