.page1 {
  &__screen {
    position: relative;
  }
  &__button {
    width: 4.5%;
    height: 4.4vw;
    // border: 1px solid red;
    position: absolute;
    top: 0;
    margin-top: 11.66%;
    left: 0;
    margin-left: 40%;

    &:hover {
      cursor: pointer;
    }
  }
}
