.page4 {
    &__screen {
        position: relative;
    }
    &__button {
        width: 13.5%;
        height: 1.6vw;
        border: 1px solid red;
        position: absolute;
        top: 0;
        margin-top: 29%;
        left: 0;
        margin-left: 43.3%;
        
        &:hover {
            cursor: pointer;
        }
    }

}